<h1>Add a New Entry for <%= @place.name %></h1>
<%= form_with model: [@place, @entry], local: true do |f| %>
  <div>
    <%= f.label :title, "Title:" %><br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div>
    <%= f.label :description, "Description:" %><br>
    <%= f.text_area :description %>
  </div>
  <br>
  <div>
    <%= f.label :posted_on, "Date:" %><br>
    <!-- Using date_field for a date input -->
    <%= f.date_field :posted_on %>
  </div>
  <br>
  <div>
    <%= f.submit "Create Entry" %>
  </div>
<% end %>
<br>
<%= link_to "Back to #{@place.name}", place_path(@place) %>
